#container {
  width: 30%;
  height: 30%;
  margin-bottom: 1%;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: auto;
  border: 1px solid rgba(206, 198, 198, 0.644);

  .title {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3%;
  }
  .btn {
    display: inline-block;
    margin-left: 37%;
    font-size: 15px;
    background-color: #ffff;
    border: none;
    color: blue;
    cursor: pointer;
  }
  #activeCount,
  #inactiveCount,
  #inShopCount {
    border-radius: 50%;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 2%;
    margin-left: 45%;
    width: 15px;
  }
  #activeCount {
    background-color: #18cc6c;
  }
  .inactiveContainer {
    background-color: #f6f7f7;
    display: flex;
    p:first-of-type {
      width: 25%;
      padding-left: 8%;
    }
    #inactiveCount {
      background-color: #0074d9;
    }
  }

  #inShopCount {
    background-color: #e69120;
  }

  .subContainer {
    p:first-of-type {
      width: 25%;
      padding-left: 8%;
    }
    display: flex;
  }
}
